@import '../../style/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@200&display=swap');

footer{
    margin: 0;
    font-family: 'Smooch Sans', sans-serif;
    color: $white;
    background: $black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15%;

}