
@import './../../style/font.scss';
@import './../../style/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@200&display=swap');

* {
    margin: 0%;
    box-sizing: border-box;
    padding: 0;
    background-color:#333;
}

header{
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1 ;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;

    .logoLabel{
        cursor: pointer;
    }

    .nav_links{
        list-style: none;

        li{
            display: inline-block;
            padding: 0px 20px ;
            a{
                transition: all 0.3s ease 0s;
            }
             
            a:hover{
               color: #0088a9; 
            }
        }
       
    }
    button{
        padding: 9px 25px;
        background-color: rgba(0,136,169,1);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    button:hover{
        background-color: rgba(0,136,169,0.8);
    }
}