$black: #1E1E1E;
$lite-grey:rgb(244, 247, 246);
$white: rgb(237, 240, 241);
$new-grey-color: rgb(0 0 0 / 55%);
$blue-tone-one:rgba(0,136,169,1);
$blue-tone-two:rgba(0,136,169,0.8);
$Bright_Gray:rgb(237, 241, 242);

