@import 'font.scss';
@import 'colors.scss';

html{
    overflow:unset; 
}

.container{
    display: grid;
    grid-template-rows: (6,300px);
    grid-template-columns: repeat(auto-fill, 300px);
    padding: 10px;
}

html::-webkit-scrollbar{
    width: 0;
}