
@import '../../style/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@200&display=swap');

*{margin: 0%;}

.App{
    box-sizing: border-box;
    padding: 0;
    background-color:$black;
    position: fixed;
    width: 100%;
    height: 6%;
    opacity: 90%;
}

header{
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: $white;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    
    .logo{
        display:flex;
        flex-wrap: nowrap;
        img{
            margin: 0;
           width: 55%;
        }

        .logoLabel{
            font: "Abhaya Libre";
            cursor: pointer;

            .line{
                height: 2px;
                width: 100%;
                background: $white;
            }
        }
    }

   

    .nav_links{
        list-style: none;

        li{
            display: inline-block;
            padding: 0px 20px ;
            .link{
                transition: all 0.3s ease 0s;
            }
             
            
            .link:hover{
               color: $blue-tone-one; 
            }
        }
       
    }
    .link{
        text-decoration:none;
        color:$white ;
    }
    .Sing{
        display: inline-block;
        column-gap: 10%; 
    }
    button{
        margin-left: 10px;
        padding: 9px 15px;
        background-color: $blue-tone-one;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    button:hover{
        background-color: $blue-tone-two;
    }

}

.container_menu{
    display: flex;
    justify-content: space-between;


    height: 5%;
    width: 100%;
    padding-top: 4%;
    padding-left: 10%;
    padding-bottom: 0.5%;
    box-sizing: border-box;
    background-color: #EDF0F1;
    font-family: 'Smooch Sans', sans-serif;
}

 button:hover, .dropdown:hover .dropbtn {
    background-color: $blue-tone-two;
  }
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $Bright_Gray;
    min-width: 160px;
    border: none;
  
  }
  .dropdown,.dropbtn{
    font-size: 16px;  
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
 
  .dropdown-content button {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: none;
  }
  
  .dropdown-content button:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: grid;
    grid-template-columns: repeat(auto, 200px);

  }

#search{
    border: none;
    background-color: $Bright_Gray; 
    border-bottom: #333;
  

}

#search:active{
    border: none;
    border-bottom: #333; 
}

.shopping_cart button{

    svg{
      height: 22px;
    }
    .number_product_to_cart{
        position: relative;
        top: 12px;
        color: $blue-tone-one;
    }
    
    border: none;
    

}